.about {
  .profile {
    text-align: center;
    margin-top: 3%;
  
    .selfie {
      display: block;
      width: 120px;
      margin: 0 auto;
      border-radius: 100%;
    }
  
    .info {
      margin-top: 1.5%;
      margin-bottom: 2%;
  
      .title {
        font-size: 1.5rem;
        font-weight: bold;
        color: black;
      }
      .description {
        font-size: 1rem;
        color: gray;
      }
    }
  }

  &-icon {
    margin-left: 1.3rem;
    line-height: 2rem;
  }

  &-icon-text {
    margin-left: 0.8rem;
  }

  // li {
  //   display:inline-block;
  //   color: rgb(255,0,0);
  //   width: 80%;
  // }

  .exp_format {
    display: inline-block;
  }

  .experience {
    display: flexbox;
    width: 75;
    float: left;
    width: 85%;
    padding-bottom: 20px;
  }

  .experience_logo {
    border: 2px;
    float: right;
    width: 15%;
  }
}
